:root{
  --bg-color-primary: #378760;
  --bg-color-light: #F2F2F5;
  --bg-color-secondary: #EBEBF0;
  --bg-color-lightest: white;
  --text-disabled-color: lightgray;
  --text-color-darkest: #333333;
  --text-color-lightest: white;
  --text-color-darker: #555770;
  --border-primary: #C7C9D9;
}

*{
  color: var(--text-color-darkest);
  margin: 0;
  font-size: 14px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page{
  display: flex;
  height: 100vh;
  background-color: gainsboro;
}

.flex{
  display: flex;
}